<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Editing Service: </h3>
      <h5><%= @product['name'] %></h5>
      <p>
          Enter the service information below. Once you are complete, the service will be updated.
      </p>
    </div>
</div>



<div class="card card-style">
  <div class="content mb-0">
		<%= form_for :updateService, url: service_path(id: params[:id]), method: :patch do |f| %>
			<%= render partial: 'form', locals: { f: f } %>
      <%= f.submit "Edit Service", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>
		<% end %>
	</div>
</div>
