<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Adding Service</h3>
      <p>
          Next: Add pricing models available for sale
      </p>
    </div>
</div>

<div class="card card-style">
  <div class="content mb-0">
		<%= form_for :newService, url: services_path do |f| %>
			<%= render partial: 'form', f: f %>
		<% end %>
	</div>
</div>