<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Adding Service</h3>
      <p>
          Enter the service information below. Once you are complete, the service will be available for sale.
      </p>
    </div>
</div>
<%= render partial: 'form' %>