<div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Adding Service</h3>
      <p>
          Next: Add pricing models available for sale
      </p>
    </div>
</div>
<%= render partial: 'form' %>