<div class="row items-push">   
  <div class="block-header block-header-default">
    <h3 class="block-title">
    <a class="fw-semibold text-dual" href="https://www.netwerthcard.com/">
      <!-- <span class="smini-visible">
        <i class="fa fa-circle-notch text-primary"></i>
      </span> -->
      <strong class="fw-bold">Netwerth</strong><strong class="fw-medium">Card</strong>
    </a> - Payout Preview
   </h3>
  </div>     
  <div class="row text-center">
    <div class="col-12 col-lg-12">
      <a class="block block-rounded block-link-shadow text-center">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-success"><%= number_to_currency(@amountInvested*0.01, precision: 2) %></div>
        </div>
        <div class="block-content py-2">
          <p class="fw-medium fs-sm text-muted mb-0">
            Investment Principle
          </p>
        </div>
      </a>
    </div>
  </div>
</div>