<div class="card card-style">
  <div class="content mb-0">
		<h3>New Pricing For <%= @productL['name'].titleize %></h3>
		<%= form_for :newPricing, url: service_pricing_index_path do |f| %>
			
      <%= render partial: 'form', locals: { f: f } %>

		  <%= f.submit "Add Pricing", class: "btn btn-full bg-yellow1-dark btn-m text-uppercase rounded-sm shadow-l col-12 mb-3 mt-4 font-900"%>

		<% end %>
	</div>
</div>

