<!-- Preferred order:

Customer: name, custID
“Title of job”
Date of service
Customer: name, custID?
Contact 
Contact 
Contact 
         Total $/charge
         Net $ (fee shown) -->
<% if current_user.present? %>
  <div class="card card-style">
    <div class="content mt-3 mb-3">
      <h3>Schedule</h3>
      <p class='text-justify'>
          <% if !current_user&.manager? %>
            Schedule your purchased service, see the status of your pending service requests, and see all available times by service providers!
          <% end %>
          <% if current_user&.manager? %>
            As clients purchase your services the 'Pending' section will show you which clients have requested their service be complete. <br><br>

            After you have accepted the date and time to complete a service, it will be show in the 'Upcoming' section
          <% end %>
      </p>
    </div>
  </div>


  <% @payments.map{|p,d| p['items']}.flatten.each do |itm| %>
    <% if !itm['metadata']['claimed'].blank? && itm['quantity'] > itm['metadata']['claimed'].to_i%>
      <%= itm %>
    <% end %>
  <% end %>

<% else %>
<div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Book Now</h1>
                    <p class="mb-2">
                      All of your scheduled appointments will be posted here. Cancel an appointment anytime for free!
                    </p>
                </div>
                <!-- right side of profile. increase image width to increase column size-->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="<%= new_user_registration_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-green1-dark">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="<%= new_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-green1-dark">Login</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
        </div>
    </div>
<% end %>