	<div class="page-content ">
        
        

        <div class="cover-slider owl-carousel">
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Hello. I'm Sticky</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">An absolutely amazing Mobile Website</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        I'm Sticky Footer Menu that everyone requested, packed with tons of awesome features.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-18" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">I'm Super Fast</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Made to Rock your Mobile</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Sticky Mobile is very fast, easy to use and looks absolutely amazing.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-20" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>        


            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Color Palettes</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">To find your perfect Style</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        StickyMobile allows you to easily change your background color or highlight color.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-21" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>      
            
            <div data-card-height="cover" class="card text-center pb-5">  
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Dark Mode Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Turn off the Lights! Make it Darker</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-28" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>            
            
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">PWA Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Add me to your Home Screen</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-10" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
        </div>

        <a href="<%= auth_login_path %>" data-back-button class="btn btn-m rounded-l shadow-xl btn-full bg-green1-dark font-900 text button-m scale-box">CREATE ACCOUNT</a>
    </div>
    
    <div class="cover-button-bottom">
    </div>

