<% if current_user.present? %>
  <div class="page-content header-clear-medium">
        
        <div class="card card-style">
            
            <div class="d-flex content mb-1">
                <!-- left side of profile -->
                <div class="flex-grow-1">
                    <h1 class="font-700">Karla Black</h1>
<!--                     <p class="mb-2">
                        Karla Black is a name used when you generate a text with an annonymous name.
                    </p>
                    <p class="font-10">
                        <strong class="color-theme pr-1">1k</strong>Followers
                        <strong class="color-theme pl-3 pr-1">342</strong>Following 
                    </p> -->
                </div>
                <!-- right side of profile. increase image width to increase column size-->
                <!-- <img src="images/empty.png" data-src="images/pictures/0t.jpg" width="115" class="rounded-circle mt-3 shadow-xl preload-img"> -->
            </div>
            <!-- follow buttons-->
            <div class="content mb-0">
                <div class="row mb-0">
<!--                     <div class="col-4">
                        <a href="#" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-blue2-dark">Follow</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="btn btn-full btn-s rounded-s text-uppercase font-900 color-theme border-blue2-dark">Message</a>
                    </div> -->

                    <div class="col-12">
                        <a href="<%= destroy_user_session_path %>" class="btn btn-full btn-s rounded-s text-uppercase font-900 bg-red2-dark">Signout</a>
                    </div>
                </div>
            </div>
            
            <div class="divider mt-4 mb-0"></div>
            
            <div class="gallery-view-controls">
                <a href="#" class="color-highlight gallery-view-1-activate"><i class="fa fa-user"></i></a>
                <a href="#" class="gallery-view-2-activate"><i class="fa fa-credit-card"></i></a>
                <a href="#" class="gallery-view-3-activate"><i class="fa fa-cog"></i></a>
                <div class="clear"></div>
            </div>
            <div class="content mb-0">
                <div class="gallery-views gallery-view-1 mt-n4">
                    <a data-lightbox="gallery-1" href="images/pictures/10t.jpg" title="Vynil and Typerwritter">
                        <img src="images/empty.png" data-src="images/pictures/10t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-lightbox="gallery-1" href="images/pictures/11t.jpg" title="Fruit Cookie Pie">
                        <img src="images/empty.png" data-src="images/pictures/11t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Designers Desk</h4>
                            <p>With all the gadgets you'd ever wish for.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>    
                    <a data-lightbox="gallery-1" href="images/pictures/28t.jpg" title="Plain Cookies and Flour">
                        <img src="images/empty.png" data-src="images/pictures/28t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Apple Watch</h4>
                            <p>The perfect and small notification device.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>  
                    <a data-lightbox="gallery-1" href="images/pictures/18t.jpg" title="Pots and Stuff">
                        <img src="images/empty.png" data-src="images/pictures/18t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">City Landscape</h4>
                            <p>It's absolutely gorgeous, we'd love to see it live.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-lightbox="gallery-1" href="images/pictures/14t.jpg" title="Delicious Strawberries">
                        <img src="images/empty.png" data-src="images/pictures/14t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Typography and iPhone 5</h4>
                            <p>A beautifully captured snap with great contrast.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-lightbox="gallery-1" href="images/pictures/15t.jpg" title="A Beautiful Camera">
                        <img src="images/empty.png" data-src="images/pictures/15t.jpg" class="rounded-m preload-img shadow-xl img-fluid" alt="img">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Feather and Paper?</h4>
                            <p>Going back to days when things were simplere.</p>
                        </div>
                    </a>      
                </div>
            </div>
        </div> 
        
    </div>
<% else %>
	<div class="page-content ">
        
        

        <div class="cover-slider owl-carousel">
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Hello. I'm Sticky</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">An absolutely amazing Mobile Website</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        I'm Sticky Footer Menu that everyone requested, packed with tons of awesome features.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-18" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">I'm Super Fast</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Made to Rock your Mobile</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Sticky Mobile is very fast, easy to use and looks absolutely amazing.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-20" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>        


            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Color Palettes</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">To find your perfect Style</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        StickyMobile allows you to easily change your background color or highlight color.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-21" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>      
            
            <div data-card-height="cover" class="card text-center pb-5">  
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">Dark Mode Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Turn off the Lights! Make it Darker</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-28" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>            
            
            <div data-card-height="cover" class="card text-center pb-5">
                <div class="card-bottom">
                    <h1 class="font-700 font-32 mb-0">PWA Ready</h1>
                    <h6 class="font-400 font-15 mb-3 pb-1 color-highlight">Add me to your Home Screen</h6>
                    <p class="color-theme boxed-text-xl opacity-80 pb-5 mb-5">
                        Dark mode integrated natively into the code, to make things easy for you to change.
                    </p>
                    <p class="pb-4"></p>
                </div>
                <div class="card-overlay bg-10" style="height:70vh"></div> <!--setting height to 70% to make text more easy to read-->
                <div class="card-overlay bg-gradient-fade"></div>
            </div>
        </div>

        <a href="<%= new_user_registration_url %>" class="btn btn-l bg-green1-dark col-md-6">CREATE ACCOUNT</a>
        <a href="<%= new_user_session_url %>" class="btn btn-l btn-full border-green1-dark">LOGIN</a>
  </div>
  
  <div class="cover-button-bottom">
  </div>
<% end %>
