<div class="card card-style">
  <div class="content mt-3 mb-3">
    <h3>Tracking Number Update</h3>
    <p class='text-justify'>
      After you have updated the order, it will be removed from the list below.
    </p>
  </div>
</div>
<div class="card card-style">
  <%= @orders %>
</div>
<% if @hasMore %>
  <nav aria-label="pagination-demo">
      <ul class="pagination pagination- justify-content-center">
        <li class="page-item">
            <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="/orders/?paginateBefore=<%= @actualCharges.first['id'] %>" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
            BACK
        </li>
        <li class="page-item">
            <a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="/orders/?paginateAfter=<%= @actualCharges.last['id'] %>"><i class="fa fa-angle-right"></i></a>
            NEXT
        </li>
      </ul>
  </nav>
<% end %>